<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Dialeto do Hibernate para MySQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Configurações adicionais -->
        <property name="hibernate.show_sql">true</property> <!-- Mostra o SQL gerado -->
        <property name="hibernate.hbm2ddl.auto">update</property> <!-- Atualiza o esquema automaticamente -->

          <!-- Mapeamento de entidades -->
        <mapping class="com.libvasf.models.Cliente"/>
        <mapping class="com.libvasf.models.Usuario"/>
        <mapping class="com.libvasf.models.Livro"/>
        <mapping class="com.libvasf.models.Autor"/>
        <mapping class="com.libvasf.models.Emprestimo"/>
        <mapping class="com.libvasf.models.Publicacao"/>
    </session-factory>
</hibernate-configuration>
